menuconfig ISOTP_FAST
    bool "New ISO-TP context"
    depends on CAN
    depends on ISOTP
    select EVENTS

if ISOTP_FAST

config ISOTP_FAST_RX_MAX_PACKET_COUNT
  int "Max packets for ISO-TP reception"
  default 8
  help
    Max number of packets expected in a single ISO-TP message.

config ISOTP_FAST_PER_FRAME_DISPATCH
  bool "Per-frame dispatch"
  default false
  help
    Whether to invoke the receive callback on receipt of every frame

endif